body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.supplies {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
}body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.character {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    cursor: pointer;
}
input[type=submit],
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
button:hover {
    background-color: #0056b3;
}
.stealth-option {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid #ddd;
    text-align: center;
}
.stealth-option:hover {
    background-color: #e8e8e8;
}
.character-option {
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.character-option:hover {
    background-color: #f1f1f1;
    border-color: #007bff;
}

.character-option input {
    margin-right: 15px;
}

fieldset {
    border: none;
}
#bagForm>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
    gap: 5px;
}

fieldset {
    border: 2px solid #666; /* Border around the fieldset */
    padding: 15px;
    border-radius: 8px; /* Optional: Rounded corners */
}








